{% extends "base.html" %}

{% block content %}
<form action="/" method="POST">
    <h1>Signup</h1>
    <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}"/>
        <span class="error_message">{{username_error}}</span>
        <br>
    <label for="password">Password</label>
        <input type="password" name="password" />
        <span class="error_message">{{password_error}}</span>
        <br>
    <label for="verify_password">Verify Password</label>
        <input type="password" name="verify_password" />
        <span class="error_message">{{verify_password_error}}</span>
        <br>
    <label for="email">Email (optional)</label>
        <input type="text" name="email" value="{{email}}" />
        <span class="error_message">{{email_error}}</span>
        <br>
    <input type="submit"/>
</form>
{% endblock %}